{% extends 'base.html' %}
{% load static %}
{% block title %}Delicious{% endblock %}
{% block content %}
    <section>
        <div class="container-fluid">
            {% for post in object_list %}
                <div class="postContainer">
                    <div class="postBox row">
                        <div class="postCoverContainer  col-6">
                            <img class="postCoverImage" src="{{ post.cover_image.url }}" alt="this pic dough">
                        </div>
                        <div class="postTextBox col-6">
                            <div class="postText">
                                <h1 class="postTitle">{{ post.title }}</h1>
                                <p class="description">{{ post.description }}</p>
                                <div class="postInfo">
                                    <h6>Created on: {{ post.created_on }}</h6>
                                    <a href="{{post.pk}}/details" class="btn btn-primary">READ >></a>
                                    {% if post.created_on|date:"SHORT_DATE_FORMAT" != post.updated_on|date:"SHORT_DATE_FORMAT" %}
                                        <p class="postUpdate">Post Updated: {{ post.updated_on }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
