{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 card mb-4 mt-3 left top">
                    <div class="card-body">
                        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
                        <p class=" text-muted">Update: {{ post.updated_on }} | {{ post.created_on }}</p>
                        <p class="card-text ">{{ post.post | safe }}</p>
                        {% for image in images %}
                            <img height="500px" width="400px" src="{{ image.image.url }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
