{% extends 'base.html' %}
{% load static %}
{% block title %}The Perks Of Wellness{% endblock %}
{% block content %}
    <section>
        <div class="container-fluid main">
            <div class="background">
                <img class="backgroundImg" id="fern" src="{% static 'images/fern.jpg' %}" alt="Background Img">
                <div class="backgroundColor"></div>
                <div class="backgroundText">
                    <div class="the">The</div>
                    <div class="perks">Perks <span class="of">of</span></div>
                    <div class="wellness">Wellness</div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
