{% extends 'base.html' %}
{% load static %}
{% block title %}ThePerksOfWellness{% endblock %}
{% block content %}
    <section>
        <div class="container-fluid main">
            <div class="background">
                <img class="backgroundImg" id="fern" src="{% static 'images/fern.jpg' %}" alt="Background Img">
                <div class="backgroundColor"></div>
                <div class="backgroundText">
                    <h1 class="perksOf">Perks of</h1>
                    <h1 class="wellness">Wellness</h1>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
